body {
  display: grid;
  place-items: center;
  height: 100vh;
}

div {
  display: grid;
  place-items: center;
  width: 300px;
  border: black solid 2px;
  background-color: white;
  border-radius: 15px;
}

#form {
  padding: 15px 0;
}

#button {
  background-color: green;
  width: 100%;
}

#button:focus {
  background-color: lightgreen;
  outline: 2px solid rgb(51, 115, 158);
}

#result:focus {
  background-color: lightgreen;
  outline: 2px solid rgb(51, 115, 158);
}
